<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      <%= @current_user.username.capitalize + "'s Fridge" %>
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new food item
    </h2>

    <form action="/insert_food_item" method="post">
      <input type="hidden" id="owner_id_box" name="query_owner_id"  value="<%= session.fetch(:user_id) %>" class="form-control">
      
      <div class="form-group">
        <label for="item_name_box">
          Item Name
        </label>

        <input type="text" id="item_name_box" name="query_item_name" class="form-control">
      </div>

      <div class="form-group">
        <label for="food_type_box">
          Food type
        </label>

        <select name="query_food_type" id="food_type_box" class="form-control">
          <option value="">Please choose an option</option>
          <option value="dairy">Dairy</option>
          <option value="protein">Protein</option>
          <option value="produce">Produce</option>
          <option value="grains">Grains</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="form-group">
         <label for="food_description_box">
          Food description
        </label>

        <textarea name="query_description" id="food_description_box" class="form-control"></textarea>
      </div>

      <div class="form-group">
        <label for="expiration_date_box">
          Expiration date
        </label>
        <input type="date" id="expiration_date_box" name="query_expiration_date" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create food item
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Item name
        </th>

        <th>
          Food type
        </th>

        <th>
          Expiration date
        </th>

        <th>
          Days left
        </th>

        <th>
          Throw out?
        </th>

        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @current_user.food_items.order({ :expiration_date => :asc }).each do |item| %>
      <tr>
        <td>
          <%= item.item_name %>
        </td>

        <td>
          <%= item.food_type.capitalize %>
        </td>

        <td>
          <%= item.expiration_date.strftime("%A, %D") %>
        </td>

        <td>
          <%= (item.expiration_date - Date.today).to_i %>
        </td>

        <td>
          <% if (item.expiration_date - Date.today).to_i > 0 %>
          <span class="badge badge-success">Not yet!</span>
          <% else %>
          <span class="badge badge-danger">YES</span>
          <% end %>
        </td>

        <td>
          <a href="/food_items/<%= item.id %>">
            <i class="fas fa-edit"></i>
          </a>
        </td>

        <td>
          <a href="/delete_food_item/<%= item.id %>">
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
