<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all food items
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new food item
    </h2>

    <form action="/insert_food_item" method="post">
      <input type="hidden" id="owner_id_box" name="query_owner_id"  value="<%= session.fetch(:user_id) %>" class="form-control">
      
      <div class="form-group">
        <label for="item_name_box">
          Item Name
        </label>

        <input type="text" id="item_name_box" name="query_item_name" class="form-control">
      </div>

      <div class="form-group">
        <label for="food_type_box">
          Food type
        </label>

        <input type="text" id="food_type_box" name="query_food_type" class="form-control">
      </div>

      <div class="form-group">
        <label for="expiration_date_box">
          Expiration date
        </label>
        <input type="date" id="expiration_date_box" name="query_expiration_date" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create food item
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Item name
        </th>

        <th>
          Food type
        </th>

        <th>
          Expiration date
        </th>

        <th>
          3 day warning
        </th>

        <th>
          1 day warning
        </th>

        <th>
          Throw out
        </th>

        <th>
          Delete
        </th>
      </tr>

      <% @current_user.food_items.each do |item| %>
      <tr>
        <td>
          <%= item.id %>
        </td>

        <td>
          <%= item.fridge_id %>
        </td>

        <td>
          <%= item.owner_id %>
        </td>

        <td>
          <%= item.food_type %>
        </td>

        <td>
          <%= item.expiration_date %>
        </td>

        <td>
          <%= item.message1_sent %>
        </td>

        <td>
          <%= item.message2_sent %>
        </td>

        <td>
          <%= item.message3_sent %>
        </td>

        <td>
          <a href="/food_items/<%= food_item.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
