<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @food_item.item_name %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/food_items" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_food_item/<%= @food_item.id %>" class="btn btn-block btn-outline-secondary">
          Delete food item
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Food type
      </dt>
      <dd>
        <%= @food_item.food_type.capitalize %>
      </dd>

      <dt>
        Food Description
      </dt>
      <dd>
        <%= @food_item.description %>
      </dd>

      <dt>
        Expiration date
      </dt>
      <dd>
        <%= @food_item.expiration_date.strftime("%A, %D") %>
      </dd>

      <dt>
          Days left
      </dt>
      <dd>
          <%= (@food_item.expiration_date - Date.today).to_i %>
      </dd>

      <dt>
        3-day warning
      </dt>
      <dd>
        <% if (@food_item.expiration_date - Date.today).to_i > 3 %>
          <span class="badge badge-info">Not sent</span>
        <% else %>
          <span class="badge badge-danger">Sent</span>
        <% end %>
      </dd>

      <dt>
        1-day warning
      </dt>
      <dd>
        <% if (@food_item.expiration_date - Date.today).to_i > 1 %>
          <span class="badge badge-info">Not sent</span>
        <% else %>
          <span class="badge badge-danger">Sent</span>
        <% end %>
      </dd>

      <dt>
        Throw out?
      </dt>
      <dd>
        <% if @food_item.message3_sent == false %>
          <span class="badge badge-success">Not yet!</span>
        <% else %>
          <span class="badge badge-danger">YES</span>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit food item
    </h2>

    <form action="/modify_food_item/<%= @food_item.id %>"  method="post" >
      <div class="form-group">
        <label for="food_type_box">
          Food type
        </label>

        <select name="query_food_type" id="food_type_box" class="form-control">          
          <% if @food_item.food_type == "dairy" %>
            <option value="dairy" selected>Dairy</option>
          <% else %>
            <option value="dairy">Dairy</option>
          <% end %>

          <% if @food_item.food_type == "protein" %>
            <option value="protein" selected>Protein</option>
          <% else %>
            <option value="protein">Protein</option>
          <% end %>
          
          <% if @food_item.food_type == "produce" %>
            <option value="produce" selected>Produce</option>
          <% else %>
            <option value="produce">Produce</option>
          <% end %>

          <% if @food_item.food_type == "grains" %>
            <option value="grains" selected>Grains</option>
          <% else %>
            <option value="grains">Grains</option>
          <% end %>

          <% if @food_item.food_type == "other" %>
            <option value="other" selected>Other</option>
          <% else %>
            <option value="other">Other</option>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <label for="food_description_box">
          Food description
        </label>

        <textarea name="query_description" id="food_description_box" class="form-control"><%=@food_item.description%></textarea>
       </div>

      <div class="form-group">
        <label for="expiration_date_box">
          Expiration date
        </label>

        <input type="date" id="expiration_date_box" name="query_expiration_date" class="form-control" value="<%= @food_item.expiration_date %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update food item
      </button>
    </form>
  </div>
</div>

<hr>
