<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Food item #<%= @food_item.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/food_items" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_food_item/<%= @food_item.id %>" class="btn btn-block btn-outline-secondary">
          Delete food item
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Fridge
      </dt>
      <dd>
        <%= @food_item.fridge_id %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @food_item.owner_id %>
      </dd>

      <dt>
        Food type
      </dt>
      <dd>
        <%= @food_item.food_type %>
      </dd>

      <dt>
        Expiration date
      </dt>
      <dd>
        <%= @food_item.expiration_date %>
      </dd>

      <dt>
        Message1 sent
      </dt>
      <dd>
        <%= @food_item.message1_sent %>
      </dd>

      <dt>
        Message2 sent
      </dt>
      <dd>
        <%= @food_item.message2_sent %>
      </dd>

      <dt>
        Message3 sent
      </dt>
      <dd>
        <%= @food_item.message3_sent %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@food_item.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@food_item.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit food item
    </h2>

    <form action="/modify_food_item/<%= @food_item.id %>"  method="post" >
      <div class="form-group">
        <label for="fridge_id_box">
          Fridge
        </label>

        <input type="text" id="fridge_id_box" name="query_fridge_id" class="form-control" value="<%= @food_item.fridge_id %>">
      </div>

      <div class="form-group">
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" class="form-control" value="<%= @food_item.owner_id %>">
      </div>

      <div class="form-group">
        <label for="food_type_box">
          Food type
        </label>

        <input type="text" id="food_type_box" name="query_food_type" class="form-control" value="<%= @food_item.food_type %>">
      </div>

      <div class="form-group">
        <label for="expiration_date_box">
          Expiration date
        </label>

        <input type="date" id="expiration_date_box" name="query_expiration_date" class="form-control" value="<%= @food_item.expiration_date %>">
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="message1_sent_box" name="query_message1_sent" value="1" <%= "checked" if @food_item.message1_sent %>>

        <label class="custom-control-label"
          for="message1_sent_box">Message1 sent</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="message2_sent_box" name="query_message2_sent" value="1" <%= "checked" if @food_item.message2_sent %>>

        <label class="custom-control-label"
          for="message2_sent_box">Message2 sent</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="message3_sent_box" name="query_message3_sent" value="1" <%= "checked" if @food_item.message3_sent %>>

        <label class="custom-control-label"
          for="message3_sent_box">Message3 sent</label>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update food item
      </button>
    </form>
  </div>
</div>

<hr>
